body{
    margin: 0;
    background-color:#222222;
    font-family: poppins;
    color: whitesmoke;
}
section {
    padding: 5% 0%;
}
h3,p{
    color: #B3B9C4;
}
.container{
    padding: 0 6%;
}
.d-flex{
    display: flex;
}
.head-img {
    width: 70%;
    text-align: right;
    padding: 10% 2% 10% 10%;
}
.head-img img {
    width: 250px;
    border-radius: 100%;
    border: 15px solid #444444;
}
.head-desc h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: -20px;
}
.head-desc {
    padding: 10% 10% 10% 1%;
}
.head-desc p {
    width: 95%;
    font-size: 15px;
    margin-bottom: 30px;
}
.s-button a:hover {
    background-color: white;
    color: black;
}
.s-button a {
    border: 2px solid;
}
.f-button a:hover {
    background-color: #007CED;
}
.f-button a {
    border: 2px solid #007CED;
}
.s-button {
    width: 60%;
}
.f-button {
    width: 40%;
}
.f-button a, .s-button a {
    color: white;
    text-decoration: none;
    background-color: #333;
    padding: 10px 24px 10px 24px;
    margin: 2%;
    border-radius: 24px;
    font-size: 15px;
    font-weight: 500;
}
/**header section css end**/
.sc-desc p {
    font-size: 15px;
    font-weight: 400;
}
.sc-desc h3 {
    font-size: 16px;
}
.sc-icon img {
    width: 60px;
}
.school, .college {
    width: 46%;
    margin: 4%;
}
.sc-desc p {
    margin-top: -8px;
}
.school, .college {
    width: 46%;
    padding: 1%;
    margin: 2%;
    box-shadow: 0px 0px 6px 0px #007ced;
    border-radius: 10px;
    border: 1px solid #007ced;
}
.sc-icon {
    padding: 2%;
}
h1.edu-head {
    width: 232px;
    padding-bottom: 5px;
    margin: 0;
    border-bottom: 1px solid #007CED;
}

h1.edu-head-2{
    padding-bottom: 5px;
    margin: 0;
    border-bottom: 1px solid #007CED;
    width: 124px;
}
/**what I do and educational section end**/
.photo img {
    width: 100%;
    border-radius: 10px;
    height: 90%;
}
.photo {
    width: 32.13%;
    margin: .6%;
}
.photos-head {
    padding-bottom: 5px;
    border-bottom: 1px solid #007CED;
    width: 90px;
}

/**Photos section end**/

.f-email, .f-phone {
    width: 50%;
}
.f-phone {
    margin-left: .6%;
}
.f-email {
    margin-right: .6%;
}
form#form input {
    display: block;
    width: 100%;
    padding: 11px 0px;
    margin: 11px;
    border-radius: 10px;
    background-color: #313131;
    color: white;
    border: 2px solid #007CED;
}
form#form input::placeholder {
    font-size: 15px;
    font-family: 'Poppins';
    color: #909393;
    font-weight: 400;
    padding-left: 10px;
}
input#submit:hover {
    background-color: #007CED;
}
input#submit {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins';
    letter-spacing: .5px;
}
h1.form-head {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #007CED;
    width: 90px;
}
h1.form-head {
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #007CED;
    width: 350px;
}
form#form {
    margin: 30px 150px 0px 150px;
}
/**form section end**/
.footer-section {
    background-color: #212121;
    width: 100%;
}

.footer-section h1 {
    text-align: center;
    padding-top: 142px;
    color: white;
    font-size: 27px;
}

.footer-section p {
    text-align: center;
    padding-top: 32px;
    color: gray;
    margin: 0;
}